Repository smirror/monkey-go, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies

.github/labeler.yml:

# 'docs' フォルダ内またはそのサブフォルダ内の変更に 'Documentation' ラベルを追加
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

# 'go.mod' ファイルに変更があった場合、'dependencies' ラベルを追加
dependencies:
  - changed-files:
      - any-glob-to-any-file:
        - "**/go.mod"

# 'src' フォルダ内またはそのサブフォルダ内の変更に 'enhancement' ラベルを追加
enhancement:
  - changed-files:
      - any-glob-to-any-file:
        - "src/**/*.go"
        - ".github/**/*.yml"
  - head-branch: [ '^feature', 'feature' ]

Add variable reassignment support
  evaluator/evaluator.go
  evaluator/evaluator_test.go
  object/environment.go
  parser/parser.go
Labels: none

Update comments to Japanese
  evaluator/evaluator.go
  object/environment.go
Labels: none

Refactor: Extract assignment evaluation to separate function
  evaluator/evaluator.go
Labels: none

Fix linter error: Add nolint comment for Unicode format characters
  evaluator/evaluator_test.go
Labels: none

docs: add comprehensive feature roadmap for language extensions
  README.md
  ROADMAP.md
Labels: documentation

docs: add PR template for roadmap pull request
  .github/PR_BODY.md
Labels: documentation

Add comprehensive tests for assignment error cases
  evaluator/evaluator_test.go
Labels: none

Fix indent-error-flow: Remove unnecessary else block
  evaluator/evaluator.go
Labels: none

Refactor: Reduce Eval complexity by extracting InfixExpression handling
  evaluator/evaluator.go
Labels: none

Add comprehensive tests for refactored InfixExpression handling
  evaluator/evaluator_test.go
Labels: none

Refactor: Extract helper functions in TestInfixExpressionNode to reduce complexity
  evaluator/evaluator_test.go
Labels: none

Add tests for string/boolean assignments and type changes
  evaluator/evaluator_test.go
Labels: none

feat: add logical operators (&& and ||) with short-circuit evaluation
  evaluator/evaluator.go
  evaluator/evaluator_test.go
  lexer/lexer.go
  lexer/lexer_test.go
  parser/parser.go
  token/token.go
Labels: none

fix: add nolint comment for Unicode format characters in Arabic pangram
  evaluator/evaluator_test.go
Labels: none

style: run gofmt on evaluator_test.go
  evaluator/evaluator_test.go
Labels: none

chore: run go mod tidy to clean up dependencies
  go.mod
  go.sum
Labels: dependencies

refactor: simplify control flow to reduce indent-error-flow warnings
  evaluator/evaluator.go
  lexer/lexer.go
Labels: none

refactor: reduce code complexity and improve maintainability
  lexer/lexer.go
  lexer/lexer_test.go
Labels: none

:art: add: variable reassignment and update parser/evaluator
  README.md
  evaluator/evaluator.go
  evaluator/evaluator_test.go
  object/environment.go
  parser/parser.go
  token/token.go
  token/token_test.go
Labels: documentation

:rotating_light: fix: suppress staticcheck for ZWNJ in Arabic pangram test
  evaluator/evaluator_test.go
Labels: none

Add variable reassignment support (#158)
  README.md
  evaluator/evaluator.go
  evaluator/evaluator_test.go
  object/environment.go
  parser/parser.go
  token/token.go
  token/token_test.go
Labels: documentation

:memo: Add detailed language syntax and usage examples to README.md
  README.md
Labels: documentation
